<!DOCTYPE html>
<html>
  <head>
    <title>Goread</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type="text/javascript">
    window.staticImages = {
  	  bookicon: "<%= asset_url "icon.png" %>"
    }
  </script>

  <body>
    <%= yield %>
  </body>
</html>
